@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import 'media';


.container {
    display: flex;
    justify-content: center;
    align-items: center;

    .input-group {
        width: calc(150px + 650 * (100vw / 1312));
        margin-top: 20px;
    }
}

.navbar-brand {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    color: white;
    cursor: pointer;
    &:hover {
        color: grey;
    }
}

.search_btn {
    width: 70px;
}